<div class="container">
	<!-- <ng-include src="../menu.html"></ng-include> -->
	<div class="jumbotron">
		<h1>Welcome</h1>
		<h2>LAO Logistics</h2>
	</div>

	<app-nav></app-nav>

	<!-- Status panel -->
	<div class="panel panel-primary">
		<div class="panel-heading">Status</div>
		<div class="panel-body">
			<h3 i18n="@@companyName">{{title}}</h3>
			<qr-scanner debug="true" (onRead)="decodedOutput($event)">

			</qr-scanner>
			<!-- [debug]="false"     debug flag for console.log spam              (default: false) -->
			<!-- [canvasWidth]="640"    <!-- canvas width                                 (default: 640) -->
			<!-- [canvasHeight]="480"   <!-- canvas height                                (default: 480) -->
			<!-- [mirror]="false"       <!-- should the image be a mirror?                (default: false) -->
			<!-- [stopAfterScan]="true" <!-- should the scanner stop after first success? (default: true) -->
			<!-- [updateTime]="500"     <!-- miliseconds between new capture              (default: 500) -->
			<!-- (onRead)="decodedOutput($event)" -->

			<div>
				<label for="triggerChar">Trigger Character (default 9 which
					is TAB)</label> <input id="triggerChar" type="number"
					ng-model="triggerChar" value="9">
			</div>
			<br /> <br />
			<div>
				<label for="separatorChar">Separator Character (default 13
					which is ENTER)</label> <input id="separatorChar" type="number"
					ng-model="separatorChar" value="13">
			</div>



			<br />
			<div ng-repeat="word in words">{{word}}</div>
			<!-- <barcode-scanner separator-char="separatorChar" trigger-char="triggerChar" scan-callback="scanCallback"
    trigger-callback="triggerCallback"></barcode-scanner> -->
		</div>
	</div>

	<app-footer></app-footer>
</div>

